<ul class="webinar-list reset-list" data-grid="columns: 12; gutters-row: true">
  {% for webinar in webinars %}
    <li class="webinar-list__item" data-grid-item="width: 4;">
      <div class="card card--in-grid">
        <div class="webinar-list__header card__header ">
          <h3 class="webinar-list__title h3">{{ webinar.title }}</h3>
        </div>
        <div class="card__body">
          <img class="webinar-list__image" src="images/icon-webinar.svg" role="presentation" alt="">
          <p>
            {{ webinar.description }}
          </p>
          <p>
            {% if webinar.links.resources %}
              <a href="{{ webinar.links.resources }}" target="_blank" download>Download Resources</a>
            {% endif %}
            {% if webinar.links.resources %}
              <a href="{{ webinar.links.more }}" target="_blank" download>Learn More</a>
            {% endif %}
          </p>
          {% set id = 'webinar-modal-' ~ loop.index %}

          <button class="button" data-micromodal-trigger="{{ id }}">View Webinar</button>

          <div class="modal webinar__modal-content" id="{{ id }}" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
              <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="{{ id }}-title">
                <div class="modal__header">
                  <h2 id="{{ id }}-title">{{ webinar.title }}</h2>
                </div>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close>&times;</button>
                <div class="modal__body">
                  {{ webinar.body }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>