<ul class="webinar-list reset-list" data-grid="columns: 12; gutters-row: true">
  {% for webinar in webinars %}
    {% set id = 'webinar-modal-' ~ loop.index %}
    {% set data = { 
        'title': webinar.title,
        'label': 'Webinar'
      } 
    %}
    <li class="webinar-list__item" data-grid-item="width: 4;">
      <div class="card card--in-grid">
        <div class="webinar-list__header card__header ">
          <h3 class="webinar-list__title h3">{{ webinar.title }}</h3>
        </div>
        <div class="card__body">
          <img class="webinar-list__image" src="images/icon-webinar.svg" role="presentation" alt="">
          <p>
            {{ webinar.description }}
          </p>
          <p class="links-plain">
            {% if webinar.resources %}
              <a 
                href="files/{{ webinar.resources.filename }}" 
                target="_blank" 
                download="{{ webinar.resources.prettyname }}"
              >Download Resources</a> | 
            {% endif %}
            <button data-micromodal-trigger="{{ id }}" class="button-link">Learn More</button>
          </p>
          
          <a class="button" href="{{ webinar.link }}" target="_blank">View Webinar</a>
          <div 
            id="{{ id }}" 
            class="webinar__modal-content wysiwyg" 
            data-site-modal='{{ data|json_encode() }}'
          >
            {{ webinar.body }}
            {% if webinar.speakers %}
              <h3 class="h3">Speakers</h3>
              {{ webinar.speakers }}
            {% endif %}
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>